@import "greed";

/* Example site styles */

$black: #1a1a1a;

body {
  font: normal 16px sans-serif;
  color: $black;

  a {
    color: $black;
  }
}

header {
  h1 {
    font-size: 3em;
    margin: 0;
  }
  h2 {
    margin-top: 0;
    color: lightgrey;
  }

  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

[role=main] {
  @extend %greed-container;

  margin: 0 auto;
  max-width: 1200px;
}

.fork-me {
  border: 0;
  font-size: .8em;
  position: absolute;
  right: 0;
  top: 0;

  span {
    display: none;
  }

  @media screen and (max-width: 500px) {
    display: block;
    position: inherit;
    text-align: center;

    img { display: none; }
    span { display: inline; }
  }
}

/* Greed styles */

%module {
  background-color: grey;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}

.fourth,
.third,
.two-thirds,
.half,
.full
{
  @extend %module;
}

.fourth {
  @include greed(25%);
}

.third {
  @include greed(100% / 3);
}

.two-thirds {
  @include greed(200% / 3);
}

.half {
  @include greed(50%);
}

.full {
  @include greed(100%);
}

.responsive {
  @media screen and (min-width: 1200px) {
    %module {
      @include greed(100% / 15);
    }
  }

  @media screen and (max-width: 700px) and (min-width: 500px) {
    .fourth {
      @include greed(50%);
    }

    .two-thirds {
      @include greed(50%);
    }
  }
  @media screen and (max-width: 500px) {
    %module {
      @include greed(100%);
    }
  }
}
